{{ partial "header.html" . }}
<body>
  <div class="container-fluid">
    {{ partial "nav_bar.html" . }}
    <div id="content">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-centered center-block">
          <img class="imgleft img-rounded" src="assets/headshot.jpg">
          <p>
          </br>
          Hi, <b>I'm Max!</b> 

          </br>
          </br>

          I'm a: music lover; <a href="https://umich.edu/">University of Michigan</a> graduate (go blue!); coffee drinker; software engineer @ <a href="https://www.facebook.com">Facebook</a>; &amp; voracious reader.

          </br>
          </br>

          Let me learn more about <b>you</b> by adding me on <a href="https://linkedin.com/in/maxwelljmorgan">LinkedIn</a>.
        </div><!--col-->
      </div><!--row-->
    </div><!--content-->
    {{ partial "footer.html" . }}
  </div><!--container-fluid-->
</body>
