{{ partial "header.html" . }}
<body>
  <div class="container-fluid">
    {{ partial "nav_bar.html" . }}
    <div id="content">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-centered center-block">
          <img class="imgleft img-rounded", src="assets/headshot.jpg">
          <p>
          Hello! My name is Max. I'm a student at the University of Michigan
          studying Computer Science and Data Science in the School of
          Engineering. I am currently a senior and my academic interests
          include computer networking, computer and network security, data
          systems, and machine learning. I am a member of
          <a href="https://geecs.eecs.umich.edu/">
            Girls in Electrical Engineering and Computer Science</a>.
          I recently worked under Dr. Michalis Kallitsis researching new
          methods of anomaly detection for the future "smart" power grid.
          This past summer, I was a software engineering intern with Facebook.
          At Facebook, I worked on a distributed publisher-subscriber data
          streaming system known as
          <a href="https://www.usenix.org/node/188997">Wormhole</a>.
          </p>
          <p>
          If you don't find me doing one of the aforementioned things,
          then you can probably find me buried in my computer customizing
          my desktop (linux hobbyist here), tinkering with a technology
          I'm unfamiliar with, working on a project, or catching up on the
          latest news.
          </p>
          <p>
          Aside from programming and tech-stuff, I'm a musician, avid reader,
          and skateboarder. I play the guitar and drumset, and I
          love going to local shows to see my favorite bands perform live.
          </p>
        </div><!--col-->
      </div><!--row-->
    </div><!--content-->
    {{ partial "footer.html" . }}
  </div><!--container-fluid-->
</body>
