{{ partial "header.html" . }}
<body>
  <div class="container-fluid">
    {{ partial "nav_bar.html" . }}
    <div id="content">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-centered center-block">
          <img class="imgleft img-rounded", src="assets/headshot.jpg">
          <p>
          Hello! My name is Max. I'm a University of Michigan graduate (go blue!).
          My interests include computer networking, computer and network security, web 
          systems, and machine learning. I work with Girls in Electrical Engineering 
          and Computer Science at the University of Michigan to develop and 
          maintain their 
          <a href="https://geecs.eecs.umich.edu/">website</a>.
          I recently worked under Dr. Michalis Kallitsis on two research 
          projects: exploring new methods of anomaly detection for the future 
          "smart" power grid and a real-time, community-based, network anomaly 
          detection system.
          I'll soon begin work as a software engineer with Facebook where I 
          worked as an intern in the past. As an intern, I contributed to a 
          distributed publisher-subscriber data streaming system known as
          <a href="https://www.usenix.org/node/188997">Wormhole</a>.
          </p>
          <p>
          If you don't find me doing one of the aforementioned things,
          then you can probably find me buried in my computer customizing
          my desktop (admittedly, I'm a slight linux hobbyist), tinkering with 
          a technology I'm unfamiliar with, or working on a project.
          </p>
          <p>
          Aside from programming and tech-stuff, I'm a musician, avid reader,
          and skateboarder. I love going to local shows to see my favorite 
          bands perform live!
          </p>
        </div><!--col-->
      </div><!--row-->
    </div><!--content-->
    {{ partial "footer.html" . }}
  </div><!--container-fluid-->
</body>
